.form-container {
  width: 600px;
  background-color: var(--main-color);
  margin-top: 200px;
}

.input-group label {
  color: rgba(156, 163, 175, 1);
  text-align: right;
  width: 100%;
}

.input-group input {
  border: 1px solid rgb(95, 95, 95);
  background-color: var(--main-color);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input::placeholder {
  text-align: right;
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.sign {
  background-color: rgba(167, 139, 250, 1);
  color: rgba(17, 24, 39, 1);
  border: none;
}