* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: none;
  outline: none;
  /* user-select: none;
  -webkit-user-drag: none; */
  text-decoration: none;
}
:root {
  .dark {
    --main_color: #350036;
    --secondary_color: #1a001a;
    --text_color: #ffffff;
    --description_color: rgba(171, 171, 171, 0.822);
  }
  .light {
    --main_color: #eeeeee;
    --secondary_color: #bdbdbd;
    --text_color: #000000;
    --description_color: rgba(88, 87, 87, 0.822);
  }
}
body {
  font-family: sans-serif !important;
  background-color: var(--main_color) !important;
}
.dash_container { /* hand made container */
  width: 90%;
  margin: auto;
}
/* edit scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--main_color) !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main_color) !important;
  border-radius: 9px;
}
/* ::selection {
  background-color: var(--main_color) !important;
  color: var(--text_color)
} */